.game-field {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.game-field-slots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
