.slots-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 100px;
    height: 100vh;
    row-gap: 20px;
}

.slots-page-playground {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 40px; /* Adjust the gap between grid items */
    width: 100%;
    /* max-width: 800px; Adjust the max width as needed */
    margin: 0 auto;
}
.slots-page-title {
    font-size: 2em;
    font-weight: 700;
}

.slots-page-user_balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.slots-page-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}